/* base.css */
body, h1, h2, h3, p, ul, li, nav, section, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333; /* Osnovna boja teksta */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0; /* Uklanjanje margina */
    padding: 0; /* Uklanjanje paddinga */
}

img {
    width: 100%;
    height: auto;
}

main {
    flex: 1;
    padding: 0;
}

@media (min-width: 768px) {
    #features {
        padding: 40px;
    }

    #call-to-action {
        padding: 40px;
    }

    #about {
        padding: 100px;
    }
}

@media(max-width: 768px) {
    #features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-basis: 100%;
    }

    .product-item {
        flex: 1 1 100%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .product-item {
        flex: 1 1 50%;
    }
}

@media (max-width: 768px) {
    .product-item {
        flex: 1 1 100%;
    }
}

/* base.css */

/* Media queries za mobilne uređaje */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .contact-info, .feature, .product-item, .slider-section, .slider-description, .image-grid {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hero-content, .feature-content, .process-video, .slider-description {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .feature, .product-item {
        max-width: 100%;
    }
    
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .process-video video {
        height: auto;
    }
}
