/* responsive.css */

/* Pravila za uređaje sa širinom ekrana manjom od 80em (1280px) */
@media only screen and (max-width: 76em) {
    .feature-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-content .feature {
        margin-bottom: 1em;
    }
}

/* Pravila za mobilne uređaje */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .contact-info, .feature, .product-item, .slider-section, .slider-description, .image-grid {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .hero-content, .feature-content, .process-video, .slider-description {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .feature, .product-item {
        max-width: 100%;
    }
    
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .process-video video {
        height: auto;
    }
}

/* from header.css */
@media (min-width: 768px) {
    .logo {
        max-width: 200px;
    }

    nav ul {
        padding: 20px;
    }
}

/* from footer.css */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: row;
    }

    footer p, footer a {
        margin: 5px;
    }
}

/* from contact.css */
@media only screen and (max-width: 768px) {
    .contact-info {
        width: 90%;
        margin: 10px auto;
    }

    .contact-links i {
        font-size: 1.5em;
        margin-right: 10px;
    }
}

/* from about.css */
@media only screen and (max-width: 768px) {
    #about {
        padding: 20px;
    }

    #about h1 {
        font-size: 2em;
    }

    .card {
        padding: 10px;
    }

    #about p, #about button {
        font-size: 1em;
        margin-bottom: 15px;
    }

    #about button {
        padding: 8px 16px;
    }
}

/* from products.css */
@media only screen and (max-width: 768px) {
    .slider-container {
        height: auto;
        flex-direction: column;
        margin-top: 1em;
    }

    .slider-section.active {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .slider-picture {
        width: 100%;
        height: 65%;
    }

    .slider-description {
        width: 100%;
        height: auto;
        order: 2;
    }

    .slider-nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .slider-nav.prev, .slider-nav.next {
        width: auto;
    }

    .slider-nav button {
        font-size: 20px;
        padding: 5px;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 100%;
        height: 65vw;
    }

    .grid-item img {
        height: 100%;
    }

    .slider-description .description {
        padding: 10px;
    }

    #call-to-action {
        margin-top: 1em;
        height: auto;
    }

    footer {
        height: auto;
    }
}

/* from home.css */
@media only screen and (max-width: 768px) {
    .hero-content {
        padding: 20px;
        border-radius: 10px;
    }

    #features, #production-process {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .feature-content, .process-video {
        padding: 20px;
    }

    .feature, .feature-image, .process-video video {
        width: 100%;
    }

    .feature-content img, .process-video video {
        border-radius: 10px;
    }
}
