/* base.css */
body, h1, h2, h3, p, ul, li, nav, section, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333; /* Osnovna boja teksta */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0; /* Uklanjanje margina */
    padding: 0; /* Uklanjanje paddinga */
}

img {
    width: 100%;
    height: auto;
}

main {
    flex: 1;
    padding: 0;
}

@media (min-width: 48rem) { /* 768px */
    #features {
        padding: 2.5rem; /* 40px */
    }

    #call-to-action {
        padding: 2.5rem; /* 40px */
    }

    #about {
        padding: 6.25rem; /* 100px */
    }
}

@media (min-width: 48rem) and (max-width: 75rem) { /* 768px to 1200px */
    .product-item {
        flex: 1 1 50%;
    }
}
