body.contact-page {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
    padding: 1.25rem; /* 20px -> 1.25rem */
    margin-top: 0.625rem; /* 1em -> 0.625rem */
    margin-bottom: 0.625rem; /* 1em -> 0.625rem */
    border-radius: 1.25rem; /* 2em -> 1.25rem */
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.25rem; /* 20px -> 1.25rem */
    margin: auto;
    max-width: 50rem; /* 800px -> 50rem */
    border-radius: 1.25rem; /* 2em -> 1.25rem */
    text-align: center;
    line-height: 1.8;
}

.contact-info p, .contact-info h1, .contact-info h3 {
    margin-bottom: 0.9375rem; /* 15px -> 0.9375rem */
}

.contact-links i {
    font-size: 2rem;
    margin-right: 0.9375rem; /* 15px -> 0.9375rem */
    color: white;
}

.contact-links .fa-phone {
    color: green;
}

.contact-links .fa-envelope {
    color: lightblue;
}

.contact-links .fa-instagram {
    color: #c13584;
}

.contact-links .fa-viber {
    color: #665cac;
}

.contact-info p:nth-of-type(4) i {
    color: red;
}

.contact-info p:nth-of-type(5) i {
    color: green;
}

.contact-info p:nth-of-type(6) i {
    color: yellow;
}

.contact-info a {
    color: white;
}

img, video {
    max-width: 100%;
    height: auto;
}

/* Stilovi za manje ekrane */
@media (max-width: 48rem) { /* 768px -> 48rem */
    .contact-info {
        padding: 0.625rem; /* 10px -> 0.625rem */
        margin: 0.625rem; /* 10px -> 0.625rem */
        font-size: 1rem;
    }

    .contact-links i {
        font-size: 1.5rem;
        margin-right: 0.625rem; /* 10px -> 0.625rem */
    }

    .contact-info h1 {
        font-size: 1.5rem;
    }

    .contact-info h3 {
        font-size: 1rem;
    }

    .contact-info p {
        font-size: 0.9rem;
    }
}
