/* footer.css */
footer {
    background-color: #013f50; /* Nova boja */
    color: #fff; /* Bela boja za tekst */
    text-align: center;
    padding: 0.625rem 0; /* 10px = 0.625rem */
    margin: 0; /* Uklanjanje margina */
    border: 0; /* Uklanjanje granica */
    border-radius: 2em;
}

footer p {
    margin: 0.3125rem 0; /* 5px = 0.3125rem */
}

footer a {
    color: #fff; /* Bela boja za linkove */
    text-decoration: none;
    margin: 0 0.625rem; /* 10px = 0.625rem */
    font-size: 1.5em; /* Veličina ikona */
}

footer .fa-phone{
    color: green;
}

footer .fa-envelope{
    color: lightblue;
}

footer .fa-instagram{
    color: #c13584;
}

footer .fa-viber{
    color: #665cac;
}

footer a:hover {
    text-decoration: none;
}

footer i {
    margin: 0 0.3125rem; /* 5px = 0.3125rem */
}
