/* home.css */
body, h1, h2, h3, p, ul, li, nav, section, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #013f50;
    color: #fff;
    padding: 0.5rem 1.25rem;
    text-align: center;
    margin: 0;
    border: 0;
}

header, main, footer {
    display: block;
}

.logo {
    height: auto;
    width: 100%;
    max-width: 6.25rem;
    border-radius: 20%;
}

nav ul {
    list-style: none;
    padding: 0.625rem;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 0.625rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a.active, nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 0;
    margin: 0;
}

#hero {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 2em;
    margin-top: 1em;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    width: 100%;
}

.slider-item {
    min-width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.slider-indicators {
    position: absolute;
    bottom: 0.625rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.slider-indicators .indicator {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.3125rem;
    cursor: pointer;
}

.slider-indicators .indicator.active {
    background-color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    border-radius: 2em;
    color: white;
    text-align: center;
    z-index: 1000;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.625rem;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 1.25rem;
}

.hero-content button {
    background-color: #024959;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 2em;
}

.hero-content button:hover {
    background-color: #013f50;
}

#features, #production-process {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    min-height: 25rem;
    margin: 1em;
    padding: 0;
    align-items: stretch;
}

.head-feature, .head-production {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.feature-content, .process-video {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.feature {
    max-width: 18.75rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.feature-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    border-radius: 2em;
}

.process-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    padding: 1.25rem;
    box-sizing: border-box;
}

.process-video video {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    object-fit: contain;
}

#call-to-action {
    background-color: #013f50;
    color: #fff;
    text-align: center;
    padding: 1.25rem;
    margin: 0;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#call-to-action h2 {
    margin-bottom: 0;
    padding: 0;
}

#call-to-action button {
    background-color: #024959;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 2em;
}

#call-to-action button:hover {
    background-color: #013f50;
}

footer {
    background-color: #013f50;
    color: #fff;
    text-align: center;
    padding: 0.625rem 0;
    margin: 0;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.625rem;
    font-size: 1.5em;
}

footer a:hover {
    text-decoration: none;
}

footer i {
    margin: 0 0.3125rem;
    padding: 0;
}

#loginForm {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 12rem; /* Postavi visinu na visinu header-a */
    width: 24rem; /* Postavi širinu na 30% */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
    z-index: 1000;
}

#loginForm input {
    margin: 0.625rem 0;
    padding: 0.625rem;
    width: 80%;
    border-radius: 1rem;
}

#loginForm button {
    display: none;
}

#closeForm {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

#loginError {
    color: red;
    margin-top: 0.625rem;
}

@media (min-width: 768px) {
    .logo {
        max-width: 12.5rem;
    }

    nav ul {
        padding: 1.25rem;
    }
}

img, video {
    max-width: 100%;
    height: auto;
}
