/* reshome.css */

/* Pravila za uređaje sa širinom ekrana do 1024px */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 1rem;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .hero-content, .feature-content, .process-video, .slider-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    .slider-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 1rem;
        margin: 0; /* Uklanja margine sa strane */
        background-color: #333; /* Tamna pozadina */
    }

    .slider-container {
        display: flex;
        width: 100%;
        height: 100%; /* Visina slidera automatski se prilagođava sadržaju */
        align-items: center;
        justify-content: flex-start; /* Početak slidera prikazuje prvu sliku u celosti */
        transition: transform 0.5s ease;
        margin: 0;
        padding: 0;
        background-color: transparent; /* Uklanja tamnu pozadinu za slider container */
    }

    .slider-item {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 16/9;
        background-color: #333; /* Tamna pozadina sa strane za manje slike */
        margin: 0;
        padding: 0;
    }

    .slider-indicators,
    .slider-nav {
        display: none;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 1.25rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        margin: 0;
    }

    .hero-content h1 {
        font-size: 1.5rem;
        margin-bottom: 0.625rem;
    }

    .hero-content p {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .hero-content button {
        background-color: #024959;
        color: white;
        padding: 0.625rem 1.25rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
    }

    .hero-content button:hover {
        background-color: #013f50;
    }

    #features {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0;
    }

    .feature-content {
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-content .feature {
        margin-bottom: 0.625rem;
        margin: 0;
    }

    .feature-content img {
        margin-bottom: 0.625rem;
        border-radius: 1rem;
        width: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }

    #production-process {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0;
    }

    .process-video {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-height: calc(100vh - 10rem); /* Ograničava visinu videa */
        margin: 0;
        padding: 0;
    }

    .process-video video {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        object-fit: contain; /* Zadržava proporcije videa */
    }

    .feature-content {
        padding: 0.625rem 0;
        margin: 0;
    }

    .contact-info {
        width: 90%;
        margin: 10px auto;
        text-align: center;
    }

    .contact-links i {
        font-size: 1.5em;
        margin-right: 10px;
    }

    footer {
        flex-direction: row;
        text-align: center;
        margin: 0;
    }

    footer p, footer a {
        margin: 5px;
        font-size: 1rem;
    }

    #about {
        padding: 1rem;
        margin: 0;
    }

    #about h1 {
        font-size: 2rem;
    }

    .card {
        padding: 1rem;
        width: 90%;
        margin: 1rem auto;
    }

    #about p, #about button {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin: 0;
    }

    #about button {
        padding: 0.5rem 1rem;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.625rem;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .grid-item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }

    .slider-description .description {
        padding: 1rem;
        margin: 0;
    }

    #call-to-action {
        margin-top: 1rem;
        height: auto;
        margin: 0;
    }

    footer {
        height: auto;
        margin: 0;
    }
}
