/* reshome.css */

/* Pravila za mobilne uređaje sa širinom ekrana do 1024px */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 1rem;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        margin-bottom: 1.5rem; /* Razmak između header i hero sekcije */
    }

    .hero-content, .feature-content, .process-video, .slider-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    .slider-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 1rem;
        margin: 0;
        background-color: #333;
    }

    .slider-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        transition: transform 0.5s ease;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .slider-item {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 16/9;
        background-color: #333;
        margin: 0;
        padding: 0;
    }

    .slider-indicators, .slider-nav {
        display: none;
    }

    .hero-content {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        padding: 1rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        z-index: 1000;
        margin: 0;
    }

    .hero-content h1 {
        font-size: 1.5rem;
        margin-bottom: 0.625rem;
    }

    .hero-content p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .hero-content button {
        background-color: #024959;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
    }

    .hero-content button:hover {
        background-color: #013f50;
    }

    #features {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0;
    }

    .feature-content {
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-content .feature {
        margin-bottom: 0.625rem;
    }

    .feature-content img {
        margin-bottom: 0.625rem;
        border-radius: 1rem;
        width: 100%;
        object-fit: contain;
    }

    #production-process {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0;
    }

    .process-video {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-height: calc(100vh - 10rem);
        margin: 0;
    }

    .process-video video {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        object-fit: contain;
    }

    .feature-content {
        padding: 0.625rem 0;
        margin: 0;
    }

    .contact-info {
        width: 90%;
        margin: 10px auto;
        text-align: center;
    }

    .contact-links i {
        font-size: 1.5em;
        margin-right: 10px;
    }

    footer {
        flex-direction: row;
        text-align: center;
        margin: 0;
    }

    footer p, footer a {
        margin: 5px;
        font-size: 1rem;
    }

    #about {
        padding: 1rem;
        margin: 0;
    }

    #about h1 {
        font-size: 2rem;
    }

    .card {
        padding: 1rem;
        width: 90%;
        margin: 1rem auto;
    }

    #about p, #about button {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #about button {
        padding: 0.5rem 1rem;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.625rem;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .grid-item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .slider-description .description {
        padding: 1rem;
        margin: 0;
    }

    #call-to-action {
        margin-top: 1rem;
        height: auto;
    }

    footer {
        height: auto;
        margin: 0;
    }
}

/* Pravila za login formu na mobilnim uređajima */
#loginForm {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 30vw;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2vw;
    z-index: 1000;
}

#loginForm input {
    margin: 0.625rem 0;
    padding: 0.625rem;
    width: 80%;
    border-radius: 1vw;
}

#closeForm {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

/* Landscape mod za mobilne uređaje */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .process-video {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .process-video video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        border-radius: 0;
    }
}

/* Pravila za desktop uređaje */
@media (min-width: 1024px) {
    #loginForm {
        height: 12rem; /* Match height of header section */
        width: 30%;    /* Set the width to 30% of the viewport width */
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 2rem;
        z-index: 1000;
    }

    #loginForm input {
        margin: 0.625rem 0;
        padding: 0.625rem;
        width: 80%;
        border-radius: 0.5rem;
    }

    #loginForm button {
        display: none; /* Dugme za slanje forme se sakriva */
    }
}

/* Pravila za ikone u footer sekciji */
footer i {
    font-size: 2em; /* Postavlja veličinu ikona u footer sekciji */
    margin: 0 0.3125rem; /* Uklanjanje razlika u prikazu na različitim stranicama */
}
