/* resprod.css */

/* Pravila za uređaje sa ekranima manjim od 10.1 inča (768px) */
@media only screen and (max-width: 768px) {
    .slider-container {
        background-color: white; /* Postavlja se bela pozadina */
    }

    .slider-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .slider-nav.prev {
        left: 0;
    }

    .slider-nav.next {
        right: 0;
    }

    .slider-nav button {
        font-size: 1.5rem;
        background-color: #333; /* Kontrastna boja za navigaciju */
        color: white;
        border: none;
        padding: 0.75rem;
        border-radius: 50%;
    }

    .slider-description {
        background-color: white; /* Bela pozadina za opis slajdera */
        color: #333;
    }
}
