/* General reset for margins and padding */
body, h1, h2, h3, p, ul, li, nav, section, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333; /* Main text color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #013f50; /* New color */
    color: #fff; /* White text color */
    padding: 0.5rem 1.25rem; /* Adjusted padding */
    text-align: center;
}

.logo {
    height: auto;
    width: 100%;
    max-width: 6.25rem; /* Max width for mobile devices */
    border-radius: 20%;
}

nav ul {
    list-style: none;
    padding: 0.625rem;
}

nav ul li {
    display: inline;
    margin-right: 0.625rem;
}

nav ul li a {
    color: #fff; /* White color for links */
    text-decoration: none;
    font-weight: bold;
}

a.active, nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 1.25rem 0;
}

#hero {
    position: relative;
    text-align: center;
    color: white;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    height: 100vh; /* Full viewport height for the slideshow */
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

img {
    width: 100%;
    height: auto;
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
}

.hero-content button {
    background-color: #024959; /* Dark green color */
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.hero-content button:hover {
    background-color: #013f50;
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.25rem;
    background-color: #fff;
}

.feature {
    flex: 1;
    max-width: 18.75rem;
    margin: 0.625rem;
    text-align: center;
}

.feature-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.625rem;
}

#call-to-action {
    background-color: #013f50; /* New color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

#call-to-action h2 {
    margin-bottom: 1.25rem;
}

#call-to-action button {
    background-color: #024959; /* Dark green color */
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#call-to-action button:hover {
    background-color: #013f50;
}

footer {
    background-color: #013f50; /* New color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 0.625rem 0;
}

footer p {
    margin: 0.3125rem 0;
}

footer a {
    color: #fff; /* White color for links */
    text-decoration: none;
    margin: 0 0.625rem;
    font-size: 1.5rem; /* Icon size */
}

footer a:hover {
    text-decoration: none;
}

footer i {
    margin: 0 0.3125rem;
}

@media (min-width: 48rem) {
    .logo {
        max-width: 12.5rem; /* Max width for desktop devices */
    }

    nav ul {
        padding: 1.25rem;
    }

    #features {
        padding: 2.5rem;
    }

    #call-to-action {
        padding: 2.5rem;
    }

    #about {
        padding: 6.25rem;
    }
}

@media(max-width: 48rem) {
    #features {
        flex-direction: column;
        align-items: center;
    }
    .feature {
        flex-basis: 100%;
    }
    .product-item {
        flex: 1 1 100%;
    }
}

@media (min-width: 48rem) and (max-width: 75rem) {
    .product-item {
        flex: 1 1 50%;
    }
}

@media (max-width: 48rem) {
    .product-item {
        flex: 1 1 100%;
    }
}

/* CSS for about.html */
#about {
    padding: 3.125rem;
    background-image: url('/images/about_images/IMG_5574.JPG');
    background-size: cover;
    background-position: center;
    color: #333; /* Changed text color for better visibility */
}

#about h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    color: #333; /* Title color */
    text-align: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent gray background for better readability */
    margin: 1.25rem auto;
    padding: 1.25rem;
    max-width: 50rem;
    border-radius: 0.625rem;
}

#about p {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    color: white;
}

/* CSS for contact.html */
body.contact-page {
    background-image: url('/images/contact_images/contact_background_adj.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.25rem;
    margin: auto;
    max-width: 50rem;
    border-radius: 0.625rem;
    text-align: center;
    line-height: 1.8;
}

.contact-info p, .contact-info h1, .contact-info h3 {
    margin-bottom: 0.9375rem;
}

.contact-links i {
    font-size: 2rem;
    margin-right: 0.9375rem;
}

/* CSS for products.html */
body.products-page {
    background-color: rgb(37, 150, 190);
    color: #333;
}

.product-section {
    padding: 3.125rem 1.25rem;
    text-align: center;
}

/* Styling h2 element to look like h1 on the index page */
.product-section h2 {
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray background */
    color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem; /* Spacing between h2 and product-grid */
    display: inline-block;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.25rem;
}

.product-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0.625rem;
    flex: 1 1 23%;
    max-width: 18.75rem;
    text-align: left;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 25rem; /* Height of each product item */
    margin-bottom: 1.25rem;
}

.product-image {
    width: 100%;
    height: 50%; /* Image takes up 50% of the height */
    object-fit: cover; /* Adjusts image to fill the available space */
    border-radius: 0.625rem 0.625rem 0 0; /* Rounded upper corners */
}

.product-content {
    height: 50%; /* Text takes up 50% of the height */
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the text */
}

.product-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.product-content p {
    font-size: 1rem;
    line-height: 1.6;
}

#production-process {
    background-color: #fff;
    text-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

#production-process h2 {
    font-size: 1.5rem; /* Heading size like h3 */
    margin-top: 0.125rem;
    color: #013f50; /* Title color */
    width: 25%; /* Title occupies one-fourth of the width */
    text-align: left;
    align-self: flex-start;
    margin: 0; /* Remove margins */
}

.process-container {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    width: 75%; /* Video occupies three-fourths of the width */
}

.process-video {
    width: 100%; /* Total width like three feature classes */
    background-color: #013f50;
    aspect-ratio: 16/9;
    height: 25rem; /* Height like images in the features section */
}

.process-video video {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    margin: 0;
    padding: 0;
    display: block;
}

/* Styling products page */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 31.25rem; /* Minimum slider height */
}

.slider-section {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.slider-section.active {
    display: flex;
    opacity: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
    width: 50%;
}

.grid-item img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 0.3125rem;
}

.description-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.25rem;
}

.description {
    background-color: #013f50;
    color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.slider-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.slider-nav button {
    background-color: #013f50;
    color: white;
    padding: 0.625rem;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    pointer-events: all;
}

.slider-nav button:hover {
    background-color: #024959;
}
